.acfg-grid-item h2 {
  color: #AAA;
  font-size: 1.7em;
}

.acfg-grid-item {
  box-sizing: border-box;
  padding: 40px;
}

/**
 * Content Box Single Templates
 */
 
/*
.acfg-single-content {
  max-width: 1080px;
  margin: 0 auto;
}
*/
